SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
SUPABASE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>
SUPABASE_SECRET_KEY=<SUBSTITUTE_SUPABASE_SECRET_KEY>

JIRA_URL=<COMPANY_JIRA_DOMAIN.ATLASSIAN.NET>
JIRA_EMAIL=<YOUR_EMAIL@EXAMPLE.COM>
JIRA_APITOKEN=<COMPANY_JIRA_API_TOKEN>
